@font-face {
    font-family: "Open Sans";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff")
      format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff")
      format("truetype");
    font-style: normal;
    font-weight: bold;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: "Open Sans", sans-serif;

  }
  /*POOPUP
  .popup-close {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 20px;
    top: -1.5em;
    right: 0;
    background-image: url("/svg/form-x.svg");
    background-repeat: no-repeat;  
  }
  .popup{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999999;
  }
  .popup-wrapper{
    position: relative;
    width: 390px;
    max-height: 590px;
    padding: 50px 30px 30px 35px;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .form-content{
    width: 330px;
  }
  .top-content{
    margin: 30px 0 30px 0;
  }
  .field-label{
    display: block;
    font-size: 13px;
    margin: 0 0 10px 0;
  }
  .field-group{
    position: relative;
  }
  .field-group::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 20px;
    top: 55%;
    left: 93%;
    background-image: url("/svg/form-arrows.svg");
    background-size: cover;
    }
  .field-input{
    width: 100%;
    height: 50px;
    padding: 0 40px 0 20px;
    background-color: #f4f7f6;
  }
  .middle-content{
    margin: 0 0 30px 0;
  }
  .textarea-block{
    width: 100%;
    min-height: 130px;
    padding: 20px;
    margin: 0 0 20px 0;
    resize: none;
    background-color: #f4f7f6;
  }
  .radio-group-text::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url('/svg/form-empty-circle.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  }
  .radio-group{
    display: inline-block;
    font-size: 15px;
  }
  .radio-group:nth-of-type(n+2) {
    margin-left: 10px;
  }
  .radio:checked ~ .radio-group-text::before{
    background-image: url('/svg/form-circle.svg');
  }
  .radio{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }POOPUP
  /*HEADER*/

  .header {
    position: relative;
    padding: 18px 0 0 0;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99999;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
  }
  .header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
  .header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .link-item img {
    width: 179px;
  }
  .item {
    display: inline-block;
    list-style: none;
  }
  .item-link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
  }
  .item:nth-child(n + 2) {
    padding: 0 0 0 33px;
  }
  .h1-title {
    padding-top: 101px;
    padding-bottom: 117px;
    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
  }
  /*TRENDS*/
  .new-trend{
    margin-top: 57px;
  }
  .trend-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 28px;
  }
.trend-title{
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.trend-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  background-color: #e1d9bd;
}
.trend-block{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 5px 5px 0;
  width: 24%;
  min-height: 320px;
  line-height: 24px;
  z-index: 2;
}
.trend-1{
  background: url('img/trend1.jpg') no-repeat;
  background-color: #ccc;
  background-size: cover;
}
.trend-2{
  background: url('img/trend2.jpg') no-repeat;
  background-color: #ccc;
  background-size: cover;
}
.trend-3{
  background: url('img/trend3.jpg') no-repeat;
  background-color: #ccc;
  background-size: cover;
}
.trend-4{
  background: url('img/trend4.jpg') no-repeat;
  background-color: #ccc;
  background-size: cover;
}
.trend-block:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}
.trend-content{
  margin: 0 20px 15px 20px;
  padding: 40px 30px 30px 30px;
  border: 3px solid #7c7043;
}
.trend-p{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.trend-p a{
  color: #fff;
}

  /*MAIN*/
  .main {
    max-width: 77%;
  }
  .block-1 {
    display: flex;
    margin: 0 0 55px 0;
    align-items: flex-start;
  }
  .block-1:last-child {
    margin-bottom: 0;
  }
  .main-image {
    margin: 0 30px 0 0;
  }
  .main-image img {
    width: 391px;
  }
  .main-link {
    margin: 0 0 4px 0;
  }
  .item-li {
    display: inline-block;
  }
  .item-a {
    margin: 0 16px 0 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
  }
  .item-title {
    margin: 0 0 28px 0;
  }
  .h2-link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
  .item-h2 {
    text-transform: uppercase;
    line-height: 1.05;
  }
  .item-subtitle p {
    font-size: 12px;
    font-weight: bold;
  }
  .date {
    padding: 0 12px 0 0;
    font-size: 12px;
    color: #929292;
    font-weight: 300;
  }
  .item-text p {
    margin-top: 45px;
	  color: #0f0d0e;
	  font-size: 15px;
	  line-height: 1.5;
  }
  .item-text p:nth-child(2) {
    margin-top: 10px;
  }

  /*WRAPPER*/
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 58px 15px 59px 15px;
  }
  /*SECTION*/
  .aside {
    width: 271px;
  }
  .first-section {
    display: flex;
    align-items: flex-start;
    margin: 40px 0 0 0;
  }
  .post-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .post-title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: #e1d9bd;
  }
  .date-color {
    margin: 0 0 10px 0;
    font-size: 12px;
    color: #a9a9a9;
  }
  .section-subtitle {
    line-height: 1;
  }
  .title-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
  .sec-img {
    margin: 0 20px 0 0;
    width: 70px;
  }
  .section-item {
    display: flex;
    align-items: flex-start;
    margin: 22px 0 20px 0;
  }

  /*SEARCH*/
  .search {
    position: relative;
    margin: 60px 0 62px 0;
  }
  .search-input {
    width: 100%;
    height: 48px;
    padding: 0 60px 0 18px;
    color: #a2a4a3;
    background-color: #f4f7f6;
  }
  .search::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 48px;
    height: 46px;
    top: 1px;
    left: 222px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-color: #b59f5b;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    cursor: pointer;
  }
  .search-label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  /*EMAIL*/
  .email-form {
    margin: 40px 0 60px 0;
  }
  .email-input {
    width: 100%;
    height: 49px;
    margin: 0 0 11px 0;
    padding: 0 10px 0 18px;
    color: #a2a4a3;
    background-color: #f4f7f6;
  }
  .button-email {
    width: 100%;
    height: 49px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #b59f5b;
  }
  .button-email:hover {
    cursor: pointer;
  }
  /*TAGS*/
  .buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0 0 0;
  }
  .button-tag {
    display: inline-block;
    height: 30px;
    margin: 0 6px 6px 0;
    padding: 3px 13px 0 15px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border: 3px solid #eee;
  }
  /*TEMS*/
  .tems {
    margin: 48px 0 0 0;
  }
  .tems-list {
    display: inline-block;
    margin: 35px 0 0 0;
  }
  .tems-list li {
    position: relative;
  }
  .list-item {
    color: #000;
    font-weight: bold;
  }
  .tems-list li::before {
    content: "";
    position: absolute;
    width: 271px;
    height: 1px;
    top: 35px;
    background-color: #eeeeee;
  }
  .tems-item {
    margin: 0 0 25px 0;
  }
  .news-number {
    margin: 0 0 0 7px;
    font-weight: bold;
    font-size: 14px;
    color: #b59f5b;
    vertical-align: super;
  }
  /*PRODUCT*/
  .products {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 30px auto 60px auto;
    padding: 0 1.25%;
  }
  .product {
    width: 28.5%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .product:nth-child(n+2) {
    margin-left: 6%
  }
  
  .product-image {
    padding: 0 20px;
  }
  
  .product-img {
    max-width: 100%;
  }
  
  .product-body {
    height: 100%;
    margin-top: -25px;
    padding: 25px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    outline: 3px solid #b59f5b;
  
  }
  
  .product-title {
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
  }
  
  .product-subtitle {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
  }
  
  .product-link {
    text-decoration: none;
    color: #b59f5b;
  }
  
  .product-link:hover {
    text-decoration: underline;
  }
  
  .product-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  
  .prices {
    display: flex;
    flex-direction: column;
  }
  
  .price {
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
  }
  
  .price-discount {
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
  }
  
  .product-button {
    width: 140px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans", sans serif;
    text-transform: uppercase;
    border: none;
    background-color:#b59f5b;
  }
  
  .product-button-link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .product-button:hover {
    background-color: #323232;
  }
  /*FOOTER*/
  .footer {
    max-width: 1170px;
    margin: 0 15px 0 15px;
    margin: 0 auto;
    background-color: #f4f7f6;
  }
  .footer-list {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .footer-link {
    display: block;
    width: 25px;
    height: 25px;
    background-size: cover;
  }
  .footer-item {
    padding: 29px 18px 29px 0;
  }
  .unvisible {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    width: 1px;
    height: 1px;
  }
  .icon-twitter {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
  }
  .icon-pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
  }
  .icon-facebook {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
  }
  .icon-instagram {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
  }
  .icon-tel {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  }
  /*COPY*/
  .copy {
    margin: 73px 0 33px 0;
    text-align: center;
  }
  .copyright {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
  }
  @media (min-width: 641px) and (max-width: 1200px){
    /*HEADER*/
    body{
      overflow-x: hidden;
    }
    .header{
      position: relative;
      background-image: url('/img/banner-bg-tablet.jpg');
      background-color: #000;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .header-content{
      max-width: 770px;
      margin: 0 auto;
      padding: 25px 35px 0 35px;
    }
    .navigation-item{
      display: none;
    }
    .link-item img{
      width: 160px;
    }
    .h1-title{
      padding: 85px 0 115px 0;
      font-size: 20px;
      line-height: 2.7em;
    }
    /*TREND*/
    .new-trend{
      margin-top: 43px;
    }
    .trend-title{
      font-size: 18px;
    }
    .trend-wrapper{
      max-width: 1200px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 21px;
    }
    .trend-block{
      width: 49%;
      max-height: 245px;
    }
    .trend-content{
      padding-top: 35px;
    }
    .trend-p{
      font-size: 17px;
    }
    /*MAIN*/
    .wrapper{
      max-width: 770px;
      padding: 45px 35px 45px 35px;
    }
    .main {
      max-width: 55%;
    }
    .block-1{
      position: relative;
      flex-direction: column;
      margin-bottom: 45px;
    }
    .block-1:after{
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 3px;
      top: 100%;
      left: 0;
      background-color: #eee;
    }
    .block-1:last-child:after{
      display: none;
    }
    .h2-link{
      font-size: 17px;
    }
    .main-text{
      margin-top: 5px;
    }
    .item-text p{
      margin-top: 26px;
      padding-bottom: 20px;
    }
    .item-text p:nth-child(2) {
      margin-top: 0px;
    }
    /*ASIDE*/
    .section-item{
      margin-top: 10px;
      margin-bottom: 20px;
    }
    /*SEARCH*/
    .search{
      margin-top: 53px;
      margin-bottom: 58px;
    }
    /*EMAIL*/
    .email-form{
      margin-top: 20px;
      margin-bottom: 55px;
    }
    .email-input{
      margin-bottom: 15px;
    }
    /*BUTTONS*/
    .buttons{
      margin-top: 20px;
    }
    /*TEMS*/
    .list-item{
      font-size: 14px;
    }
    .tems-list{
      margin-top: 15px;
    }
    .tems-item{
      margin-bottom: 18px;
    }
    /*PRODUCT*/
    .products{
      max-width: 700px;
    }
    .product-title{
      font-size: 17px;
      text-transform: uppercase;
    }
    .product{
      margin-left: 0;
      width: 33.3%;
      margin-bottom: 30px;
    }
  }