@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff")
      format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff")
      format("truetype");
    font-style: normal;
    font-weight: bold;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: "Open Sans", sans-serif;
 
  }
  body{
    overflow-x: hidden;
  }
  .popup-close {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 20px;
    top: -1.5em;
    right: 0;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;  
  }
  .popup{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999999;
  }
  .popup-wrapper{
    position: relative;
    width: 390px;
    max-height: 590px;
    padding: 50px 30px 30px 35px;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .form-content{
    width: 330px;
  }
  .top-content{
    margin: 30px 0 30px 0;
  }
  .field-label{
    display: block;
    font-size: 13px;
    margin: 0 0 10px 0;
  }
  .field-group{
    position: relative;
  }
  .field-group::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 20px;
    top: 55%;
    left: 93%;
    background-image: url("../svg/form-arrows.svg");
    background-size: cover;
    }
  .field-input{
    width: 100%;
    height: 50px;
    padding: 0 40px 0 20px;
    background-color: #f4f7f6;
  }
  .middle-content{
    margin: 0 0 30px 0;
  }
  .textarea-block{
    width: 100%;
    min-height: 130px;
    padding: 20px;
    margin: 0 0 20px 0;
    resize: none;
    background-color: #f4f7f6;
  }
  .radio-group-text::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url('../svg/form-empty-circle.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  }
  .radio-group{
    display: inline-block;
    font-size: 15px;
  }
  .radio-group:nth-of-type(n+2) {
    margin-left: 10px;
  }
  .radio:checked ~ .radio-group-text::before{
    background-image: url('../svg/form-circle.svg');
  }
  .radio{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }
  ._hidden{
    display: none;
  }
  /*HEADER*/

  .header {
    position: relative;
    padding: 18px 0 117px 0;
    background-image: url("../img/banner-bg.jpg");
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99999;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
  }
  .header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

  }
  .header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu{
    display: none;
  }
  .link-item img {
    width: 179px;
  }
  .item {
    display: inline-block;
    list-style: none;
  }
  .item-link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
  }
  .item:nth-child(n + 2) {
    margin: 0 0 0 33px;
  }
  .h1-title {
    margin-top: 101px;

    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
  }
  /*TRENDS*/
  .new-trend{
    margin-top: 57px;
  }
  .trend-wrapper{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 28px;
  }
  .trend-title{
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  .trend-title:after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    background-color: #e1d9bd;
  }
  .trend-block{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 24.7%;
    margin-right: 5px;
    min-height: 320px;
    z-index: 2;
  }
  .trend-block:last-child{
    margin: 0;
  }
  .trend-1{
    background: url('../img/trend1.jpg') no-repeat;
    background-color: #ccc;
    background-size: cover;
  }
  .trend-2{
    background: url('../img/trend2.jpg') no-repeat;
    background-color: #ccc;
    background-size: cover;
  }
  .trend-3{
    background: url('../img/trend3.jpg') no-repeat;
    background-color: #ccc;
    background-size: cover;
  }
  .trend-4{
    background: url('../img/trend4.jpg') no-repeat;
    background-color: #ccc;
    background-size: cover;
  }
  .trend-block:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
  }
  .trend-content{
    margin: 0 20px 15px 20px;
    padding: 40px 30px 30px 30px;
    border: 3px solid #7c7043;
  }
  .trend-subtitle{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
  .trend-subtitle a{
    color: #fff;
  }

  /*MAIN*/
  .main {
    width: 100%;
    max-width: 780px;
  }
  .block-1 {
    display: flex;
    margin: 0 0 55px 0;
    align-items: flex-start;
  }
  .block-1:last-child {
    margin-bottom: 0;
  }
  .main-image {
    margin: 0 30px 0 0;
  }
  .post-img{
    display: block;
  }
  .main-link {
    margin: 0 0 4px 0;
  }
  .item-li {
    display: inline-block;
  }
  .item-a {
    margin: 0 16px 0 0;
    font-weight: bold;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
  }
  .item-title {
    margin: 0 0 28px 0;
  }
  .h2-link {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
  }
  .item-h2 {
    text-transform: uppercase;
    line-height: 1.05;
  }
  .item-subtitle p {
    font-size: 12px;
    font-weight: bold;
  }
  .date {
    padding: 0 12px 0 0;
    font-size: 12px;
    color: #929292;
    font-weight: 300;
  }
  .item-text p {
    margin-top: 45px;
	  color: #0f0d0e;
	  font-size: 15px;
	  line-height: 1.5;
  }
  .item-text p:nth-child(2) {
    margin-top: 10px;
  }

  /*WRAPPER*/
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 58px 15px 59px 15px;
  }
  /*SECTION*/
  .aside {
    width: 273px;
  }
  .first-section {
    display: flex;
    align-items: flex-start;
    margin: 40px 0 0 0;
  }
  .post-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .post-title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: #e1d9bd;
  }
  .date-color {
    margin: 0 0 10px 0;
    font-size: 12px;
    color: #a9a9a9;
  }
  .section-subtitle {
    line-height: 1;
  }
  .title-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
  .sec-img {
    margin: 0 20px 0 0;
    width: 70px;
  }
  .section-item {
    display: flex;
    align-items: flex-start;
    margin: 22px 0 20px 0;
  }

  /*SEARCH*/
  .search {
    position: relative;
    margin: 60px 0 62px 0;
  }
  .search-input {
    width: 100%;
    height: 48px;
    padding: 0 60px 0 18px;
    color: #a2a4a3;
    background-color: #f4f7f6;
  }
  .search-label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .form-button{
    position: absolute;
    top: 1px;
    right: 1px;
    width: 50px;
    height: 46px;
    border: none;
    background-color: #b59f5b;
    background-image: url('../svg/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    cursor: pointer;
  }
  /*EMAIL*/
  .email-form {
    margin: 40px 0 60px 0;
  }
  .email-input {
    width: 100%;
    height: 49px;
    margin: 0 0 11px 0;
    padding: 0 10px 0 18px;
    color: #a2a4a3;
    background-color: #f4f7f6;
  }
  .button-email {
    width: 100%;
    height: 49px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #b59f5b;
  }
  .button-email:hover {
    cursor: pointer;
  }
  /*TAGS*/
  .buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0 0 0;
  }
  .button-tag {
    display: inline-block;
    height: 30px;
    margin: 0 6px 6px 0;
    padding: 3px 13px 0 15px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border: 3px solid #eee;
  }
  /*TEMS*/
  .tems {
    margin: 48px 0 0 0;
  }
  .tems-list {
    display: inline-block;
    margin: 35px 0 0 0;
  }
  .tems-list li {
    position: relative;
  }
  .list-item {
    color: #000;
    font-weight: bold;
  }
  .tems-list li::before {
    content: "";
    position: absolute;
    width: 271px;
    height: 1px;
    top: 35px;
    background-color: #eeeeee;
  }
  .tems-item {
    margin: 0 0 25px 0;
  }
  .news-number {
    margin: 0 0 0 7px;
    font-weight: bold;
    font-size: 14px;
    color: #b59f5b;
    vertical-align: super;
  }
  /*PRODUCT*/
  .products{
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .product-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .product-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .product-block{
    width: calc((100% / 3) - 40px );
    display: flex;
    flex-direction: column;
    margin-right: 60px;
  }
  .product-block:nth-child(n+3){
    margin-right: 0;
  }
  .product-img-container{
    padding-left: 23px;
    padding-right: 23px;
  }
  .product-img{
    display: block;
    width: 100%;
  }
  .product-post-block{
    flex-grow: 1;
    padding: 50px 20px 25px;
    margin-top: -33px;
    border: 3px solid #d3c59d;
  }
  .post-block-title{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .post-block-title a{
    color: black;
  }
  .post-block-text{
    font-size: 15px;
    margin-bottom: 20px;
  }
  .post-link{
    color: #b59f5b;
  }
  .post-block-footer{
    display: flex;
    justify-content: space-between;
  }
  .real-price{
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;
  }
  .discount{
    display: block;
    font-weight: bold;
    font-size: 20px;
  }
  .product-button{
    width: 140px;
    height: 50px;
    font-size: 14px;
    color: #fff;
    background-color: #b59f5b;
  }
  /*FOOTER*/
  .footer-content{
    max-width: 1170px;
    margin: 0 15px 0 15px;
    margin: 0 auto;
    background-color: #f4f7f6;
  }
  .footer-list {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .footer-link {
    display: block;
    width: 25px;
    height: 25px;
    background-size: cover;
  }
  .footer-item {
    margin-right: 18px;
  }
  .footer-item:last-child{
    margin-right: 0;
  }
  .adress-icon{
    padding: 29px 0 29px 0;
  }
  .unvisible {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    width: 1px;
    height: 1px;
  }
  .icon-twitter {
    background-image: url("../svg/004-twitter.svg");
  }
  .icon-pinterest {
    background-image: url("../svg/001-pinterest.svg");
  }
  .icon-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
  }
  .icon-instagram {
    background-image: url("../svg/005-instagram.svg");
  }
  .icon-tel {
    background-image: url("../svg/003-tumblr.svg");
  }
  /*COPY*/
  .copy {
    margin: 73px 0 33px 0;
    text-align: center;
  }
  .copyright {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
  }
  /*TABLET*/
  @media (max-width: 1200px){
    /*HEADER*/
    .header{
      position: relative;
      background-image: url('../img/banner-bg-tablet.jpg');
      background-color: #000;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .header-content{
      max-width: 770px;
      margin: 0 auto;
      padding: 25px 35px 0 35px;
    }
    .mobile-menu {
      display: block;
      width: 23px;
      height: 12px;
      cursor: pointer;
    }
    .mobile-menu span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
    }
    .navigation-item{
      display: none;
    }
    .link-item img{
      width: 160px;
    }
    .h1-title{
      padding: 85px 0 115px 0;
      font-size: 20px;
      line-height: 2.7em;
    }
    /*TREND*/
    .new-trend{
      margin-top: 43px;
    }
    .trend-title{
      font-size: 18px;
    }
    .trend-wrapper{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 21px;
      width: 100%;
    }
    .trend-block{
      width: 49%;
      margin-right: 4px;
      margin-bottom: 4px;
    }
    .trend-block:nth-child(2n+2){
      margin-right: 0;
    }
    .trend-content{
      padding-top: 35px;
    }
    .trend-p{
      font-size: 17px;
    }
    /*MAIN*/
    .wrapper{
      padding: 45px 20px 45px 20px;
    }
    .main{
      width: 100%;
    }
    .post-img{
      width: 100%;
    }
    .block-1{
      width: 100%;
      display: block;
      position: relative;
      flex-direction: column;
      margin-bottom: 45px;
    }
    .block-1:after{
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 3px;
      top: 100%;
      left: 0;
      background-color: #eee;
    }
    .block-1:last-child:after{
      display: none;
    }
    .h2-link{
      font-size: 17px;
    }
    .main-text{
      margin-top: 5px;
    }
    .item-text p{
      margin-top: 26px;
      padding-bottom: 20px;
    }
    .item-text p:nth-child(2) {
      margin-top: 0px;
    }
    /*ASIDE*/
    .aside{
      min-width: 273px;
      margin-left: 30px;
    }
    .section-item{
      margin-top: 10px;
      margin-bottom: 20px;
    }
    /*SEARCH*/
    .search{
      margin-top: 53px;
      margin-bottom: 58px;
    }
    /*EMAIL*/
    .email-form{
      margin-top: 20px;
      margin-bottom: 55px;
    }
    .email-input{
      margin-bottom: 15px;
    }
    /*BUTTONS*/
    .buttons{
      margin-top: 20px;
    }
    /*TEMS*/
    .list-item{
      font-size: 14px;
    }
    .tems-list{
      margin-top: 15px;
    }
    .tems-item{
      margin-bottom: 18px;
    }
    /*PRODUCT*/
    .products{
      margin-top: 15px;
    }
    .product-container{
      justify-content: space-between;
    }
    .product-block{
      width: 48%;
      margin-right: 20px;
    }
    .product-block:nth-child(3){
      margin-top: 30px;
    }
    .product-block:nth-child(2){
      margin-right: 0;
    }
    /*MOBILE*/
  @media(max-width: 640px){
    .wrapper{
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }
    .header{
      min-height: 638px;
      padding-top: 30px;
      background-image: url('../img/banner-mobile.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .header-content{
      padding: 0 15px;
    }
    .header-items{
      height: 300px;
      flex-direction: column-reverse;
    }
    .header-logo img{
      width: 274px;
    }
    .mobile-menu{
      align-self: flex-end;
    }
    .mobile-menu {
      display: block;
      width: 23px;
      height: 12px;
      cursor: pointer;
    }
    .navigation{
      display: none;
    }
    .h1-title{
      padding-top: 40px;
      padding-bottom: 217px;
    }
    /*MAIN*/
    .main{
      min-width: 100%;
    }
    .h2-link{
      font-size: 16px;
    }
    .main-image{

      margin: 0;
    }
    .item-text p{
      margin-top: 20px;
    }
    .block-1:last-child::after{
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 3px;
      top: 100%;
      left: 0;
      background-color: #eee;
    }
    /*ASIDE*/
    .aside{
      width: 100%;
      margin-top: 45px;
    }
    .news-sections{
      margin-bottom: 60px;
    }
    .search-block, .section-email, .product-content{
      margin-bottom: 45px;
    }
    .tems{
      margin-top: 45px;
    }
    /*TREND*/

    .trend-title{
      font-size: 16px;
    }
    .trend-block{
      width: 100%;
    }
    /*PRODUCT*/
    .products{
      width: 100%;
    }
    .product-block{
      width: 100%;
      max-width: 330px;
      margin-right: 0;
    }
    .product-content{
      justify-content: center;
    }
    .block-wrp{
      align-items: center;
    }
  }
}
